/* Variables */

/* Colors */
.main-blue {
    color: #4B6587;
}

.main-grey {
    color: #C8C6C6;
}

.main-white {
    color: #F7F6F2;
}

.main-yellow {
    color: #F0E5CF;
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F7F6F2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4B6587;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4B6587;
}

/* Navbar */
.navbar {
    background-color: #4B6587;
}

.navbar-brand {
    color: #F7F6F2;
}

.nav-link {
    color: #F7F6F2;
    font-weight: 600;
}

.nav-item{
    padding-right: 10px;
}

.btn-proposal {
    border-color: #F7F6F2;
    border-radius: 0px !important;
    color: #F7F6F2;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
}

.navbar-brand:hover {
    color: #F7F6F2;
}

.nav-link:hover {
    color: #F7F6F2;
    font-weight: 600;
}

.btn-proposal:hover {
    background-color: #F7F6F2;
    color: #4B6587;
}

/* Main Slider */
.swiper {
    width: 100%;
    height: 700px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: #F7F6F2 !important;
}

.slider-title {
    font-size: 30px;
    color: #F7F6F2;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 80px;
}

.slider-description {
    position: absolute;
    top: 40%;
    left: 80px;
    font-size: 25px;
    color: #F7F6F2;
}

.slider-button {
    position: absolute;
    top: 52%;
    left: 80px;
}

a.btn.btn-slider {
    background-color: #F7F6F2;
    padding: 10px 20px 10px 20px;
    color: #4B6587;
    font-weight: 600;
    border-radius: 0px;
    border-color: none;
    border-width: none;
}


/* Top Deals */
section.top-deals {
    background-color: #f7f6f224;
}

.section-title {
    font-size: 25px;
    font-weight: 500;
    color: #4B6587;
}

.deal-card {
    border-color: aliceblue;
}

a.deal-card-link {
    text-decoration: none;
}

.deal-card .card-title{
    font-size: 22px;
    color:#4B6587;
}

.deal-card .card-text{
    color:#58595a;
}

span.deal-card-category {
    position: absolute;
    background-color: #F7F6F2;
    padding: 5px 20px 5px 20px;
    color: #4b6587;
    font-weight: 600;
}


/* Footer */
.footer {
    border-top-style: solid;
    border-top-color: aliceblue;
    border-top-width: 2px;
    background-color: #4B6587;
}
.footer-title {
    color: #F7F6F2;
    font-size: 20px;
    font-weight: 500;
}
.footer-menu {
    text-decoration: none;
    list-style: none;
    padding: 0px;
    color: #C8C6C6;
}
.footer-menu li a{
    text-decoration:none;
    color: #C8C6C6;
}